# files
*.pyc
*.jp*g
layout.json
.vscode
.DS_Store

# pdf testing files
*.pdf
!demo*.pdf
*coverage*

test/issues/
test/features/
test/outputs/

diff.png

# building dir
build/
dist/
*egg-info/
pdf2docx*.rst

**/.ipynb_checkpoints/
